.alunos-students{
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.alunos-students table{
    width: 1000px;
    line-height: 50px;
    text-align: center;
}

.alunos-students table .title{
    font-weight: bold;
}