.setboletim-container{
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

}

.setboletim-container input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
    margin-top: 20px;
    font-size: 18px;
}

.setboletim-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setboletim-container form h1{
    color: #3192B3;
}

.setboletim-container form button{
    width: 200px;
    height: 50px;

    margin-top: 50px;
    margin-bottom: 50px;

    background-color: #F9B342;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    line-height: 40px;
    transition: filter 0.3s;
}

.setboletim-container form button:hover{
    filter: brightness(70%);
}

.setboletim-container form .carregar_button{
    background-color: #3192B3;
    color: #333;
}

.setboletim-container form .selection h3{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.setboletim-container form .selection select{
    width: 320px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}

.setboletim-container form .selection select option{
    text-align: center;
}