.boletim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boletim li{
    margin: 0 auto;
    max-width: 1200px;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boletim .boletim-title{
    margin: 0 auto;
    max-width: 1200px;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boletim ul{
    max-width: 800px;
    width: 80%;
    background-color: aqua;
    border: 5px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
}