.setcasdindin-container{
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
}

.setcasdindin-container .divbar{
    width: 3px;
    background-color: #F9B342;
    border-radius: 5px;
}