 @import url('https://fonts.googleapis.com/css?family=Montserrat:100');

*{
    padding: 0px;
    margin: 0px;
    outline: 0;
    border: 0px;
    box-sizing: border-box;
}

h1, h2, h3, h4, span, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

html, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    font: 400 14px Roboto, sans-serif;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased; /*melhora a visualização*/
}

button{
    cursor: pointer;
}