.error404-container{
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 20px;    
}

.error404-container img{
    width: 450px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .error404-container img{
        width: 300px;
        object-fit: cover;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
